ftpUnzip.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>FTP to Unzip Flow</description>
    <groupId>b363f8b7-0184-1000-ffff-ffffeb7d3f89</groupId>
    <name>FTP-Unzip-Flow</name>
    <snippet>
        <processGroups>
            <id>b363f8b7-0184-1000-0000-000000000000</id>
            <processors>
                <id>b363f8b7-0184-1000-0000-000000000001</id>
                <name>GetFTP</name>
                <class>org.apache.nifi.processors.standard.GetFTP</class>
                <property>
                    <name>Remote Host</name>
                    <value>ftp.example.com</value>
                </property>
                <property>
                    <name>Port</name>
                    <value>21</value>
                </property>
                <property>
                    <name>Username</name>
                    <value>ftpuser</value>
                </property>
                <property>
                    <name>Password</name>
                    <value>ftppassword</value>
                </property>
                <property>
                    <name>Remote Path</name>
                    <value>/path/to/compressed/files</value>
                </property>
                <property>
                    <name>File Filter Regex</name>
                    <value>.*\.zip$</value>
                </property>
                <property>
                    <name>Polling Interval</name>
                    <value>1 min</value>
                </property>
            </processors>
            <processors>
                <id>b363f8b7-0184-1000-0000-000000000002</id>
                <name>IdentifyMimeType</name>
                <class>org.apache.nifi.processors.standard.IdentifyMimeType</class>
            </processors>
            <processors>
                <id>b363f8b7-0184-1000-0000-000000000003</id>
                <name>RouteOnAttribute</name>
                <class>org.apache.nifi.processors.standard.RouteOnAttribute</class>
                <property>
                    <name>Routing Strategy</name>
                    <value>Route to Property name</value>
                </property>
                <property>
                    <name>zip</name>
                    <value>${mime.type:equals('application/zip')}</value>
                </property>
            </processors>
            <processors>
                <id>b363f8b7-0184-1000-0000-000000000004</id>
                <name>UnpackContent</name>
                <class>org.apache.nifi.processors.standard.UnpackContent</class>
                <property>
                    <name>Packaging Format</name>
                    <value>zip</value>
                </property>
                <property>
                    <name>File Filter</name>
                    <value></value>
                </property>
                <property>
                    <name>Allow Stored Entries With Data Descriptor</name>
                    <value>true</value>
                </property>
            </processors>
            <processors>
                <id>b363f8b7-0184-1000-0000-000000000005</id>
                <name>UpdateAttribute</name>
                <class>org.apache.nifi.processors.attributes.UpdateAttribute</class>
                <property>
                    <name>processed</name>
                    <value>true</value>
                </property>
            </processors>
            <processors>
                <id>b363f8b7-0184-1000-0000-000000000006</id>
                <name>PutFile</name>
                <class>org.apache.nifi.processors.standard.PutFile</class>
                <property>
                    <name>Directory</name>
                    <value>/path/to/local/destination</value>
                </property>
            </processors>
            <processors>
                <id>b363f8b7-0184-1000-0000-000000000007</id>
                <name>DeleteFTP</name>
                <class>org.apache.nifi.processors.standard.DeleteFTP</class>
                <property>
                    <name>Hostname</name>
                    <value>ftp.example.com</value>
                </property>
                <property>
                    <name>Port</name>
                    <value>21</value>
                </property>
                <property>
                    <name>Username</name>
                    <value>ftpuser</value>
                </property>
                <property>
                    <name>Password</name>
                    <value>ftppassword</value>
                </property>
            </processors>
            <connections>
                <id>b363f8b7-0184-1000-0000-000000000008</id>
                <source id="b363f8b7-0184-1000-0000-000000000001"/>
                <destination id="b363f8b7-0184-1000-0000-000000000002"/>
            </connections>
            <connections>
                <id>b363f8b7-0184-1000-0000-000000000009</id>
                <source id="b363f8b7-0184-1000-0000-000000000002"/>
                <destination id="b363f8b7-0184-1000-0000-000000000003"/>
            </connections>
            <connections>
                <id>b363f8b7-0184-1000-0000-000000000010</id>
                <source id="b363f8b7-0184-1000-0000-000000000003"/>
                <destination id="b363f8b7-0184-1000-0000-000000000004"/>
                <relationship>zip</relationship>
            </connections>
            <connections>
                <id>b363f8b7-0184-1000-0000-000000000011</id>
                <source id="b363f8b7-0184-1000-0000-000000000004"/>
                <destination id="b363f8b7-0184-1000-0000-000000000005"/>
            </connections>
            <connections>
                <id>b363f8b7-0184-1000-0000-000000000012</id>
                <source id="b363f8b7-0184-1000-0000-000000000005"/>
                <destination id="b363f8b7-0184-1000-0000-000000000006"/>
            </connections>
            <connections>
                <id>b363f8b7-0184-1000-0000-000000000013</id>
                <source id="b363f8b7-0184-1000-0000-000000000006"/>
                <destination id="b363f8b7-0184-1000-0000-000000000007"/>
            </connections>
        </processGroups>
    </snippet>
</template>